<span id="spinner" class="d-flex justify-content-center" *ngIf="!loaded"><mat-progress-spinner mode="indeterminate"></mat-progress-spinner></span>

<div class="col portfolio-container mx-auto" *ngIf="loaded">
    <h2 >My Portfolio</h2>
    <div class="empty-alert" *ngIf="portfolioEmpty" style="padding-top: 8px; padding-bottom: 8px; background-color: rgb(254,243,203); text-align: center; color: gray;">
        Currently you don't have any stock in your portfolio.
    </div>
    <div class="cards-container" style="margin-top: 32px;">
        <div *ngFor="let item of items"><app-portfolio-card [item]="item"></app-portfolio-card></div>
    </div>
</div>